@page {
	margin: 0;
	padding: 0;
}

html {
	width: fit-content;
	height: fit-content;
}

* {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--hr-colour: rgb(190, 190, 190);
	--primary-heading: rgb(59, 59, 59);
	--heading: #03bd94;
	--sidebar: linear-gradient(to right, #3f19ca, #5932e7);
	--with-photo: linear-gradient(to top left, #AA1155, #da2c7a);
}

body {
	/* 1536px width for rendering */
	font-family: Roboto, Arial, sans-serif;
	min-height: 100vh;
	-ms-overflow-style: none;
	scrollbar-width: 0;
	width: 100vw;
}

#container {
	display: grid;
	grid-template-areas: 
		"sidebar"
		"primary"
		;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}

.text-center {
	text-align: center;
}

@media (min-width: 768px) {
	::-webkit-scrollbar {
		width: 0;
	}

	#container {
		grid-template-areas: 
			"primary sidebar"
			"primary sidebar"
			;
		grid-template-rows: auto;
		grid-template-columns: 78% 1fr;
	}
}

.underline {
	text-decoration: underline;
}

.blue {
	color: rgb(49, 49, 255);
}

hr {
	display: block;
	height: 0;
	padding: 0;
	background-color: var(--hr-colour);
	width: 95%;
	margin: 1em auto;
	border: none;
	border: 1.6px solid var(--hr-colour);
	border-radius: 4px;
}

#primary {
	grid-area: primary;
	background-color: aliceblue;
	padding-bottom: 35px;
}

#primary .header {
	padding: 0.3rem 1.5rem;
	font-size: 2em;
	color: var(--primary-heading);
	font-weight: bold;
}

#primary .section {
	padding: 10px 30px;
	font-size: 1.2em;
}

#primary .title {
	padding-bottom: 0.3em;
	line-height: 1.4em;
}

#primary .value {
	font-size: 0.8em;
	line-height: 1.3em;
}

#primary .value :is(ul, ol) {
	transform: translateX(20px);
}

#primary .section-with-photo {
	margin: 10px;
	display: flex;
	flex-direction: row;
	padding: 30px;
	padding-right: 8px;
	background: var(--with-photo);
	color: white;
	font-size: 1.3em;
	border-radius: 12px;
	align-items: center;
}

#primary .section-with-photo > .photo img {
	border-radius: 5px;
	box-shadow: 5px 5px 13px black;
}

#primary .section-with-photo > .w-text {
	text-align: left;
	padding: 0 30px;
}

#sidebar .header {
	padding: 1rem;
	font-size: 1.4em;
	background-color: var(--heading);
}

#sidebar .header-colour {
	background: var(--heading);
}

#sidebar {
	padding: 0;
	color: rgb(241, 241, 241);
	grid-area: sidebar;
	background: var(--sidebar);
}

#sidebar .section {
	padding: 1em;
}

#sidebar .header {
	color: #fff;
}	

#sidebar .title {
	font-weight: normal;
	margin-bottom: 8px;
	font-size: 1.2em;
}

#sidebar .section:not(.light-title) .title {
	color: var(--heading);
	filter: saturate(20%) brightness(190%);
}

#sidebar .value {
	display: inline-block;
	transform: skewX(-3deg) scale(98%);
	word-break: break-word;
}

#sidebar .link {
	color: rgb(182, 214, 255);
}

#sidebar .section-item {
	margin-bottom: 16px;
}

#sidebar ul {
	list-style: none;
}

#intro {
	padding: 32px 16px;
	margin: 0;
}

#intro h1 {
	font-size: 2.8em;
	margin: 0;
	margin-bottom: 7px;
	text-shadow: 3px 3px 3px black;
}

@media only screen {
	strong a {
		color: rgb(38, 38, 235);
	}

	strong a:hover,
	strong a:focus {
		text-decoration: underline;
	}
}

.pb-1 {
	padding-bottom: 8px;
}